<html>
  {{ partial "header.html" . }}

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      * {
        box-sizing: border-box;
      }

      /* Create two equal columns that floats next to each other */
      .column {
        float: left;
        width: 50%;
        padding-right: 30px;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
    </style>
  </head>

  <body>
    <div class="intro">
      <p>
        Dev and Engineering for data graphics. Creator of the Undersea
        Transmissions archive. Interested in making digital tools, mapping,
        OSINT.
      </p>
      <p>Visual Journalist at The Economist</p>
    </div>

    <section>
      <div class="display-image">
        <img src="images/popdensity-cover.png" alt="" />
      </div>
    </section>

    <section>
      <h2>Data and Journalism</h2>
      <div class="work-item">
        <a href="/work/sudan_conflict"
          >“Hell on earth”: satellite images document the siege of a Sudanese
          city</a
        >
      </div>
      <div class="work-item">
        <a href="/work/trump_tracker">Tracking the presidency</a>
      </div>
      <div class="work-item">
        <a href="/work/gaza_damage">Estimated building damage in Gaza</a>
      </div>
      <div class="work-item">
        <a href="/work/barclay_twins">Barclay files</a>
      </div>
      <div class="work-item">
        <a href="/work/us_forecast">Economist US 2024 election forecast</a>
      </div>
      <div class="work-item">
        <a href="/work/us_results">Economist US 2024 election results</a>
      </div>
      <div class="work-item">
        <a
          href="https://www.economist.com/interactive/uk-general-election/forecast/"
          >UK election forecast 2024</a
        >
      </div>
      <div class="work-item">
        <a
          href="https://www.economist.com/interactive/christmas-specials/2023/12/20/the-truth-about-putins-shootdown"
          >The Truth about Putin's shootdown</a
        >
      </div>
      <div class="work-item">
        <a href="/work/pop_density">Population Density Maps</a>
      </div>
      <div class="work-item">
        <a href="/work/keywords">Keywords</a>
      </div>
      <div class="work-item">
        <a href="/work/black_hole">Black Hole</a>
      </div>
      <!-- <div class="work-item">
        <a href="/work/small_boats_api">Small boat arrivals API</a>
      </div> -->
      <!-- <div class='work-item'>
    <a href = "https://observablehq.com/d/11e7a132e9865238">Tech Layoffs 2023</a>
  </div> -->
    </section>
    <section>
      <h2>Tools, websites, other</h2>
      <div class="work-item">
        <a href="https://josephc.net/undersea_transmissions_archive/"
          >Undersea Transmissions archive</a
        >
      </div>
      <div class="work-item">
        <a href="https://internetoutages.netlify.app/"
          >Lightweight internet outages tracker</a
        >
      </div>
      <div class="work-item">
        <a href="https://datumgraphics.com/">Datum Research</a>
      </div>
      <div class="work-item">
        <a href="/work/enhanced_vision_typeface">EnhancedVision.OTF</a>
      </div>
      <div class="work-item">
        <a href="/work/generated_worlds">Generated Worlds</a>
      </div>
    </section>

    <section>
      <h2>Artwork & Curation</h2>
      <div class="work-list">
        <div class="work-item">
          <a href="/work/pretend_ai">Pretend AI, Pretending to be People</a>
        </div>
        <div class="work-item">
          <a href="/work/fantome_aave">Fantôme/Aave</a>
        </div>
        <div class="work-item">
          <a href="/work/election">Election by Communication</a>
        </div>
        <div class="work-item">
          <a href="/work/gaps_between_gaps">Gaps between gaps</a>
        </div>
        <div class="work-item">
          <a href="/work/starfish">Starfish</a>
        </div>
        <div class="work-item">
          <a href="/work/ggm_paintings">Generated Glitch Model Paintings</a>
        </div>
        <div class="work-item">
          <a href="/work/elevator_pitch">Elevator pitch</a>
        </div>
      </div>
    </section>

    <section>
      <a href="/work/exhibitions">Exhibitons/Residencies/Publications</a>
    </section>

    <!-- <section>
    <div class="starfish-section">
        <a href="https://www.instagram.com/starfish__press/">Starfish Press</a>
    </div>
  </section> -->

    <section>
      <div class="contact-section">
        <h2>Contact</h2>
        <a href="https://www.are.na/joseph-c">Are.na</a>
        <a href="https://bsky.app/profile/josephc.net">BSky</a>
        <a href="https://github.com/joseph-c100">Github</a>
      </div>
      <p>jfclark.work@gmail.com</p>
    </section>
  </body>

  {{ .Content }} {{ partial "footer.html" . }}
</html>

<style>
  .display-image {
    max-width: 300px;
  }
</style>
