/* LAYOUT */

/* typefaces */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
  /* font-family: JetBrains, sans-serif; */
  font-family: Times, serif, sans-serif;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
  max-width: 600px;
  margin: 2rem auto;
  border-width: 2px;
}

span {
  font-family: Times, serif, sans-serif;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

p {
  font-family: Times, serif, sans-serif;
  line-height: 1.8;
  max-width: 600px;
}

h2 {
  font-size: 1rem;
  color: rgb(27, 27, 27);
  /* background-color: rgb(247, 247, 247); */
  background-size: auto;
  border-radius: 4px;
}

h3 {
  font-size: 1rem;
}

section {
  padding-bottom: 10px;
}

.site-header {
  z-index: 999;
  padding: 0.6rem;
  display: block;
  /* position: sticky; top: 0; */
  background-color: #fff;
  /* border-bottom: solid 1px #2a2a2a; */
  box-shadow: 0 5px 1px -2px gray;
}

/* Caption underneath header 'Interface designer...' */
.site-header h3 {
  font-style: bold;
}

.intro {
  margin-bottom: 12px;
}

.content {
  padding: 0.6rem;
  /* margin-bottom: 2rem; */
  background-color: #fff;
  line-height: 1.8;
}

.row {
  border-bottom: solid 1px #ccc;
  padding-bottom: 40px;
  padding-top: 40px;
}

.row h4 {
  margin-bottom: -12px;
}

/* NAVIGATION */

.site-nav {
  display: block;
}

a {
  color: blue;
  text-underline-offset: 4px;
  text-decoration-color: blue;
}

/* a:hover {
  transition: all 0.3s;
  color: #ccc;
  text-decoration-color: #ccc;
} */

.intro a {
  font-family: Times, serif, sans-serif;
  line-height: 1.8;
}

.site-nav a {
  display: flex;
  /* padding: 1rem; */
  margin-right: 20px;
  text-decoration: none;
  font-family: Times, serif;
}

.site-nav .logo {
  margin-bottom: 5px;
  font-size: 20px;
  /* font-style: italic; */
  color: inherit;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

/* MAIN CONTENT SECTIONS */

.work-list {
  padding-bottom: 50px;
  border-bottom: solid 1px #ccc;
  font-family: serif, sans-serif;
}

/* .work-item {
  margin-left: 20px;
} */

.work-item a:hover {
  margin-left: 20px;
}

.services {
  margin-left: 20px;
  margin-top: 20px;
}

.footer-section {
  margin-top: 40px;
}

.footer-section p {
  font-style: italic;
  font-size: 12px;
}

iframe {
  position: absolute;
  z-index: 0;
}

twitter-tweet {
  z-index: 0;
}

@media screen and (max-width: 48rem) {
  .display-image img {
    height: auto;
  }

  .site-nav,
  .main-menu {
    flex-direction: block;
  }

  .site-nav a {
    padding: 0.3rem;
    padding-left: 0;
  }

  .site-nav .logo {
    margin-bottom: 3px;
    font-size: 24px;
    font-style: italic;
    color: inherit;
  }

  h2 {
    font-size: 0.8rem;
  }

  .site-header {
    margin-top: 0;
  }

  .work-item {
    margin: 5px;
    margin-left: 20px;
  }

  /* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 20rem;
  } */
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  font-size: 0.9rem;
  margin-bottom: 0.05rem;
}
