<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
  <div class="flex-wrap space-y-6 mb-4">
    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">
      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <svg
          width="33"
          height="50"
          viewBox="0 0 83 238"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M51.0769 0L0 43.1275V193.275L51.0769 238L83 118.201L51.0769 0Z"
            fill="#161617"
          />
        </svg>

        <span class="text-2xl font-semibold uppercase">{{ .Site.Title }}</span>
      </a>

      <p class="font-semibold">Visual journalism | Data graphics</p>
    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">
      {{ partial "content/social-media.html" . }}
    </div>
  </div>

  <div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
      <li>
        <a
          class="decoration-auto hover:underline font-semibold"
          href="{{ .URL }}"
          >{{ .Name }}</a
        >
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="border-t pt-4">
    <p class="text-sm">
      Copyright © {{ now.Year }}. All rights reserved.
      <a href="" target="_blank" rel="noopener">josephc.net</a>
    </p>
  </div>
</div>
