<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 flex flex-col">
  <div class="flex items-center">
    <div class="flex items-center">
      <button
        class="flex items-center space-x-4 border py-1 pr-[5px] pl-3 group bg-zinc-100 hover:bg-zinc-200 toggle-button"
        data-target="menu-bar"
      >
        <svg width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          ></path>
        </svg>
        <span class="bg-black fill-white p-1.5"> </span>
      </button>
      <div class="relative py-1.5 px-6 0 h text-xl font-bold uppercase mx-2">
        {{ if .IsHome}}
        <h1>
          <a
            class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto"
            href="{{ .Site.BaseURL }}"
            >{{ .Site.Title }}</a
          >
        </h1>
        {{ else }}
        <h2>
          <a
            class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto"
            href="{{ .Site.BaseURL }}"
            >{{ .Site.Title }}</a
          >
        </h2>
        {{ end }}
      </div>
    </div>
  </div>
  {{- partial "menu.html" (dict "menuID" "main" "page" .) -}} {{- partial
  "search.html" . -}}
</div>
